<div class="container">
    <div class = "panel panel-default">
        <br/> <div class="panel heading">  Age: </div><br/>
    <div class="panel-body">
      <form>
        <div><input type="radio" ng-model="age" value="12+">12+</div><br/>
        <div><input type="radio" ng-model="age" value="14+">14+</div><br/>
        <div><input type="radio" ng-model="age" value="16+">16+</div><br/>
        <button type="button" class="browse-btn"><a ng-href="#!/register2">Continue</a></button>
      </form>
    </div>
    </div>
    </div>