<!doctype html>
<html ng-app="myApp" lang="en">
    <head>
        <link href="css/registration.css" rel="stylesheet" >
    </head>

<body>
<div class="container">
<div class = "panel panel-default">
<div class="panel-body">



<form ng-hide="vmForm.message" ng-submit="vmForm.register()" ng-controller="RegisterController as vmForm">
    <div ng-if="vmForm.message" class="alert alert-success" role="alert">
        <p>{{ vm.message }}</p>
      </div>
      
      <div ng-if="vmForm.error" class="alert alert-danger" role="alert">
        {{ vm.error }}
      </div>

    <div ng-switch="vmForm.step">
    <div class="stepone" ng-switch-when="one" >
      <hr>
        <h3>REGISTER</h3>
        <a class="info2" href="#!/login">Already a member? Login</a>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Email" ng-model="vmForm.email"  autocapitalize="none">
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" class="form-control" id="username" placeholder="Username"  ng-model="vmForm.username" autocapitalize="none">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vmForm.password" autocapitalize="none">
        </div>
        <div class="form-group">
          <label for="password-repeat">Repeat Password</label>
          <input type="password" class="form-control" id="password-repeat" placeholder="Password"  ng-model="vmForm.passwordRepeat" autocapitalize="none">
        </div>
        <button type="button" class="btn-primary"  ng-click="vmForm.stepTwo()" >Continue</button>
        <hr>
    </div>

    <div class="steptwo" ng-switch-when="two">
      <hr>
        <h3>AGE</h3>
        <div class="form-group">
        <div><input type="radio" ng-model="vmForm.age" id="age" value="12+">12+</div><br/>
        <div><input type="radio" ng-model="vmForm.age" id="age" value="14+">14+</div><br/>
        <div><input type="radio" ng-model="vmForm.age" id="age" value="16+">16+</div><br/>
        </div>
        <button type="button" class="btn-primary"  ng-click="vmForm.stepOne()" >Back</button>
        <button type="button" class="btn-primary" ng-click="vmForm.stepThree()">Continue</button>
        <hr>
    </div>

    <div class="stepthree" ng-switch-when="three">
      <hr>
        <h3>GENRES</h3>
        
        <select ng-model="vmForm.genres" id="genres" multiple size="6">
        <option value="science fiction">Science Fiction</option>
        <option value="action" >Action</option> 
        <option value="fantasy">Fantasy</option>
        <option value="realistic">Realistic</option> 
        <option value="historical">Historical</option> 
        <option value="mystery" >Mystery</option>
        </select>
        <br>
        <br>
        <p class="info">Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</p>
       
        <br>
        <button type="button" class="btn-primary"  ng-click="vmForm.stepTwo()" >Back</button>
        <button type="submit" class="btn-primary" >Submit</button>
        <hr>
    </div>
    </div>
   </form>    
</div>
</div>

</body>
</html>