
<body>
<div class="container">
<div class = "panel panel-default">
   <br/> <div class="panel heading"> AGE </div><br/>
<div class="panel-body">



<form name="register" ng-submit="vm.register()">
    <div class="form-group">
    <div><input type="radio" ng-model="vm.age" id="age" value="12+">12+</div><br/>
    <div><input type="radio" ng-model="vm.age" id="age" value="14+">14+</div><br/>
    <div><input type="radio" ng-model="vm.age" id="age" value="16+">16+</div><br/>
    </div>
    <button type="submit" class="browse-btn"><a ng-href="#!/register3">Continue</a></button>
</form>
</div>
</div>

</body>