<!doctype html>
<html lang="en">
<nav ng-controller="LoginController as vm" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container" data-toggle="collapse" data-target="#navbarResponsive">
  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span>
     </button>
  </div>

  <div class="collapse navbar-collapse"  id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
         </li>
       </ul>

       <ul class="nav navbar-nav navbar-right">
          <li> <a ng-if="!vm.isLoggedIn()" class="nav-link" href="#!/register" >Register</a></li>
          <li><a ng-if="!vm.isLoggedIn()" class="nav-link" href="#!/login">Login</a></li>
          <li><a ng-if="vm.isLoggedIn()" class="nav-link" href="#!/profile">Profile</a></li>
          <li><a ng-if="vm.isLoggedIn()" class="nav-link" ng-click="vm.logout()">Logout</a></li>
      </ul>

  </div>
     </div>
</nav>
</html>