<nav ng-controller="LoginController as vm" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" ng-init="vm.init()">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>-->
          </ul>

          <form ng-if="!vm.isLoggedIn()" class="form-inline my-2 my-lg-0">
            <!-- <a class="navbar-btn btn-sm btn-info" ng-class="vm.isActiveTab('register')" ng-if="!vm.isLoggedIn()" href="#!/register">Register</a> -->
            <button type="button" class="btn btn-secondary" ng-class="vm.isActiveTab('register')"  ng-if="!vm.isLoggedIn()"><a ng-href="#!/register">Register</a></button>
            <button type="button" class="btn btn-secondary" ng-class="vm.isActiveTab('login')"  ng-if="!vm.isLoggedIn()"><a ng-href="#!/login">Login</a></button>
            <!-- <a class="navbar-btn btn-sm btn-info" ng-class="vm.isActiveTab('login')" ng-if="!vm.isLoggedIn()" href="#!/login">Login</a> -->
        </form>



          <form ng-if="vm.isLoggedIn()" class="form-inline my-2 my-lg-0" >
                <a class="navbar-btn btn-sm btn-info" href="#!/profile">Profile</a>
                <a class="navbar-btn btn-sm btn-info" ng-click="vm.logout()">Logout</a>
          </form>

        </div>
      </nav>
