<!doctype html>
<html lang="en">
    <head>
        <link href="css/registration.css" rel="stylesheet" >
    </head>
<div class="container">
  <div class = "panel panel-default">
    <hr>
  <h3 class="text-center">MY ACCOUNT</h3>
  <div class="panel-body">
  
  
  <form>
          <div class="form-group">
            <label for="email" style=" text-decoration: underline;
            font-size: 20px;
            color:#1A237E;
            text-shadow: 1px 0px 2px rgb(163, 162, 162);">Email</label>
            <div>{{vm.User.email}}</div>
          </div>
  
          <div class="form-group" >
            <label for="username" style=" text-decoration: underline;
            font-size: 20px;
            color:#1A237E;
            text-shadow: 1px 0px 2px rgb(163, 162, 162);">Username </label>
            <div>{{vm.User.username}}</div>
          </div>
  
  
          
  </form>
  <!-- <hr>
  <h3 class="text-center">MY READING LIST</h3>
  <ul ng-repeat="book in vm.User.bookList" >
    <li class="book">{{ book }}</li>
    </ul>
  <hr> -->

  <div>
      <button class="browse-btn" ng-click="vm.switch()" ng-init="lim=4"> {{ vm.switchList }}</button>
  </div>

  <div ng-if="vm.showUserList">
  <h3 class="text-center">MY READING LIST</h3>
  <a class="text-center" href="#!/browse">BROWSE</a>
  <p class="text-center" style="font-size: 11.5px; font-style: italic;">TO ADD BOOKS TO YOUR READING LIST</p>
  <div ng-repeat="myBook in vm.User.bookList">
  <div class="row" ng-repeat="book in vm.books | filter : {Title: myBook}: true" id="testBook">
        
      <div class="col-md-3" style="background-color:#e2ecfd;">
        <br> 
        <center><img class="img-fluid cover" src="../images/Bookcovers/{{ book.Cover }}" alt=""></center>
      </div>

          <div class="col-md-9">
            <hr>
              <h3> {{ book.Title }} {{ data.singleSelect }}</h3>
              <h5> {{ book.Author }} </h5>
              <p > {{ book.Description }}</p>
                <b>Genre: </b>
                <a class="btn btn-outline-secondary" ng-repeat="genre in book.Genre" ng-click="vm.genreSearch(genre)"> {{ genre }} </a>
                <br><br>
                <b>Tags: </b>
                <a class="btn btn-outline-secondary" ng-repeat="tag in book.Tags" ng-click="vm.tagsSearch(tag)"> {{ tag }} </a>
              <br><br>
              <a class="browse-btn" ng-href="#!/book/{{ book._id }}">View Details</a>
        <br>
        </div>
       
      </div>
    </div>
  </div>

    <div ng-if="!vm.showUserList">
    <h3 class="text-center" >Suggested Books</h3>
    <div class="row" ng-repeat="book in vm.books | filter : {Tags: vm.randTag}: true | limitTo: 5" id="testBook">
          
        <div class="col-md-3" style="background-color:#e2ecfd;">
          <br> 
          <center><img class="img-fluid cover" src="../images/Bookcovers/{{ book.Cover }}" alt=""></center>
        </div>
  
            <div class="col-md-9">
              <hr>
                <h3> {{ book.Title }} {{ data.singleSelect }}</h3>
                <h5> {{ book.Author }} </h5>
                <p > {{ book.Description }}</p>
                  <b>Genre: </b>
                  <a class="btn btn-outline-secondary" ng-repeat="genre in book.Genre" ng-click="vm.genreSearch(genre)"> {{ genre }} </a>
                  <br><br>
                  <b>Tags: </b>
                  <a class="btn btn-outline-secondary" ng-repeat="tag in book.Tags" ng-click="vm.tagsSearch(tag)"> {{ tag }} </a>
                <br><br>
                <a class="browse-btn" ng-href="#!/book/{{ book._id }}">View Details</a>
          
          </div>
         
        </div>
    </div>

  </div>
  </div>
  </div>
</html>
