<!doctype html>
<html lang="en">
<!-- <head>
        <link href="css/book.css" rel="stylesheet" >
    </head> -->

<body>
  <div class="container">
    <div class="row" id="testBook">

      <div class="col-md-3">
        <hr>
        <center>
          <img class="img-fluid cover" src="../images/Bookcovers/{{ vm.book.Cover }}" alt="">
          <div class="topright">{{vm.book.Readinglevel}}</div>
        </center>
        <hr>
      </div>

      <div class="col-md-9">
        <hr>
        <h2> {{ vm.book.Title }} </h2>
        <h5> {{ vm.book.Author }}</h5>
        <i> {{ vm.book.Description }}</i>
        <br>
        <br>
        <b>Genre: </b>
        <b class="btn btn-outline-secondary" ng-repeat="genre in vm.book.Genre">{{ genre }} </b>
        <br>
        <br>
        <b>Tags: </b>
        <b class="btn btn-outline-secondary" ng-repeat="tag in vm.book.Tags">{{ tag }} </b>
        <br>
        <br>

        <i ng-if="vm.book.Warnings" class="fa fa-exclamation" style="font-size:24px; float: left; margin-top: -5px; color:#ff8566;"></i>
        <p class="warning">
          <i>{{vm.book.Warnings}}</i>
        </p>

        <a class="browse-btn" href={{vm.book.AmazonUK}} target="_blank">Amazon</a>
        <br>
        <br>
        <a class="browse-btn" href={{vm.book.WorldCat}} target="_blank">WorldCat</a>
        <br>
        <br>
        <a class="browse-btn" ng-click="vm.addBook()">Add to your Reading List {{ vm.bookHighlight }} {{ vm.warn }} {{ vm.bookInListWarn }}</a>
        <br>
        <a><div ng-click="vm.addBook()" ng-show="vm.showBookIcon" ng-class="{ 'book-icon-added': vm.bookHighlight }" class="book-icon">
          <img src="../images/book-icon.png" alt="book"> <b> {{ vm.bookInListWarn }}</b>
        </div>
      </a>


        <!-- <div ng-controller="ProfileController as pc">
            <b>{{ pc.User.username }}</b>
            <a class="browse-btn" ng-href="#!/test">Add to Reading List</a>
          </div> -->




      </div>
    </div>
  </div>
</body>
</html>