.browse-btn{ color:white; width:100%; border:0;border-radius:40px;background:#0D47A1;background:-webkit-linear-gradient(left,#1A237E,#0E66AF,#1976D2);background:-o-linear-gradient(right,#1A237E,#0E66AF,#1976D2);background:-moz-linear-gradient(right,#1A237E,#0E66AF,#1976D2);background:linear-gradient(to right,#1A237E,#0E66AF,#1976D2)}
.browse-btn:hover{color:white; box-shadow:0 0 10px #0D47A1;cursor:pointer}

h2{
    display: block;
    color:#1A237E; 
    font-size: 40px;
    font-family: 'Muli';
    font-style: italic;
    text-shadow: 1px 0px 2px rgb(163, 162, 162);
    
    
}

h5{
    display: block;
    color:black; 
    font-size: 22px;
    font-family: 'Muli';
    text-shadow: 1px 0px 2px rgb(163, 162, 162);
   
}

p.warning {
    margin-top: -5px;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}