
*{
    font-family: 'Muli';
}




.input{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('/images/icons8-search-26.png');
    background-position: 6px 10px; 
    background-repeat: no-repeat;
    padding: 12px 12px 12px 40px;
    

}

.browse-btn{ width:100%; border:0;border-radius:40px;background:#0D47A1;background:-webkit-linear-gradient(left,#1A237E,#0E66AF,#1976D2);background:-o-linear-gradient(right,#1A237E,#0E66AF,#1976D2);background:-moz-linear-gradient(right,#1A237E,#0E66AF,#1976D2);background:linear-gradient(to right,#1A237E,#0E66AF,#1976D2)}
.browse-btn:hover{color:white; box-shadow:0 0 10px #0D47A1;cursor:pointer}

/* Dropdown Button */
.dropbtn {
    width: 100%;
    border-radius:40px;
    display:block;
    background-color: none;
    color: black;
    font-size: 30px;
    font-family: 'Muli';
    text-shadow: 1px 0px 2px black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    padding: 10px 10px 10px 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #d2d2d3;
}


h3{
    display: block;
    color:#1A237E; 
    font-size: 30px;
    font-family: 'Muli';
    font-style: bold;
    text-shadow: 1px 0px 2px rgb(163, 162, 162);
}

h5{
    display: block;
    color:black; 
    font-size: 22px;
    font-family: 'Muli';
    font-style: bold;
    text-shadow: 1px 0px 2px rgb(163, 162, 162);
}

p.warning {
    margin-top: -5px;
}

p {
    margin: 0 0 10px;
}