/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 54px;
  margin-bottom: 90px;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.99px) {  }

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.99px) { }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.99px) {  }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.99px) {  }

.container {
  padding-top: 20px;
}

.homepage-img {
  padding: 90px;
}

.home-btn{
  border-radius: 12px;
  background-color: rgb(228, 219, 211); /* Green */
  border: none;
  color: rgb(61, 101, 160);
  padding: 5px 90px;
  text-align: center;
  font-size: 25px;
}

.padded {
  padding-top: 30px
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #f5f5f5;
  padding-top: 20px;
}

/*BROWSE PAGE*/
.browse {
  margin-left: 30px;
}

.browse-btn {
    border-radius: 12px;
    background-color: rgb(228, 219, 211); /* Green */
    border: none;
    color: rgb(248, 245, 244);
    padding: 5px 40px;
    text-align: center;
    font-size: 16px;
}

/* Genre button */
.btn-outline-secondary {
  color:#F3969A;
  background-color:transparent;
  background-image:none;
  border-color:#F3969A;
}
  .btn-outline-secondary:hover{ 
    color:#fff;
    background-color:#F3969A;
    border-color:#F3969A
  }
    
  .btn-outline-secondary:focus,.btn-outline-secondary.focus {
    -webkit-box-shadow:0 0 0 0.2rem rgba(243,150,154,0.5);
    box-shadow:0 0 0 0.2rem rgba(243,150,154,0.5)}
    
  .btn-outline-secondary.disabled,.btn-outline-secondary:disabled{color:#F3969A;background-color:transparent}.btn-outline-secondary:not([disabled]):not(.disabled):active,.btn-outline-secondary:not([disabled]):not(.disabled).active,.show>.btn-outline-secondary.dropdown-toggle{color:#fff;background-color:#F3969A;border-color:#F3969A;-webkit-box-shadow:0 0 0 0.2rem rgba(243,150,154,0.5);box-shadow:0 0 0 0.2rem rgba(243,150,154,0.5)}


  .btn-outline-warn {
    color:#FF7851;
    background-color:transparent;
    background-image:none;
    border-color:#FF7851;
  }


  /* dropdown search btn */
  .dropdown-toggle {
    color:#fff;
    background-color:
    #F3969A;
    border-color:#F3969A;
  }


.browse-btn {
  border-radius: 12px;
  background-color: rgb(228, 219, 211); /* Green */
  border: none;
  color: rgb(12, 7, 5);
  padding: 5px 40px;
  text-align: center;
  font-size: 16px;
}



.book-icon img{
  height: 50px;
  width: 50px;
  opacity: 0.3;
  margin-top: 10px;
}

.book-icon-added img{
  height: 50px;
  width: 50px;
  opacity: 1;
  margin-top: 10px;
}

.book-icon img:hover{
  opacity: 1;

}


.navbar {
  background-color:rgb(228, 219, 211);
}

.navbar-btn {
  border-radius: 2px;
  background-color: rgb(228, 219, 211); /* Green */
  border: black;
  color: rgb(12, 7, 5);
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
}

.browse{
  color: white ;
}

.card {
  margin: 30px;
  padding: 30px;
  margin-left: 30px;
  margin-right: 100px;
  background-color: #f4fffb;
}
/*#78C2AD*/
.cover {
  height: 300px;
  width: 200px
}
