*{
    font-family: 'Muli';
}

.btn-primary{ border:0;border-radius:40px;background:#0D47A1;background:-webkit-linear-gradient(left,#1A237E,#0E66AF,#1976D2);background:-o-linear-gradient(right,#1A237E,#0E66AF,#1976D2);background:-moz-linear-gradient(right,#1A237E,#0E66AF,#1976D2);background:linear-gradient(to right,#1A237E,#0E66AF,#1976D2)}
.btn-primary:hover{color:white; box-shadow:0 0 10px #0D47A1;cursor:pointer}

h3{
    display: block;
    color:#1A237E; 
    font-size: 30px;
    font-family: 'Muli';
    text-shadow: 1px 0px 2px rgb(163, 162, 162);
}

select{
    border-width:6px;
    padding: 20px;
}

.info{
    color: rgb(141, 140, 140);
    font-size: 10px;
    font-style: italic;
}

ol{
    background-color: #f4f8ff;
}

.book{
    font-size: 20px;
    font-style: italic;
    font-family: 'Muli';
    text-shadow: 1px 0px 2px rgb(163, 162, 162);
}

