<!doctype html>
<html lang="en">
    <head>
        <link href="css/registration.css" rel="stylesheet" >
    </head>
<div class="container">
  <hr>
    <h3>LOGIN</h3>
    <a class="info2" href="#!/register">Not a member yet? Register now</a>
    <br>
    <div class="panel-body">

            <form ng-if="!vm.isLoggedIn()" name"login" ng-submit="vm.login()">
                    
                    <div class="form-group" ng-class="{'has-error': vm.error}">
                      <input type="text" class="form-control input-sm" placeholder="Username" ng-model="vm.username" autocapitalize="none">
                    </div>
                    <div class="form-group" ng-class="{'has-error': vm.error}">
                      <input type="password" class="form-control input-sm" placeholder="Password" ng-model="vm.password" autocapitalize="none">
                    </div>
                    
                    <br/><button type="submit" class="btn-primary">Login</button>
                    
            </form>
    
    </div>
    <hr>
    </div>
</html>