<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    
    <link href="css/custom.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
    <div>
        <label for="singleSelect"> Search by Genre: </label>
           <select name="singleSelect" id="singleSelect" ng-model="genre.search" ng-init="count=10">
             
             <option value="">  All  </option> <!-- not selected / blank option -->
             <option value="science fiction">Science Fiction</option> <!-- interpolation -->
             <option value="action">Action</option>
             <option value="fantasy">Fantasy</option>
           </select>
        </div>
        
        <!-- Ideally figure out how to choose the attribute your filtering dynamically too. I.e picker for Genre and Tags -->
        <hr>
        <div>
        <label for="singleSelect"> Search by Tag: </label>
           <select name="singleSelect" id="singleSelect" ng-model="tag.search" ng-init="count=10">
             <option value="">  All  </option> <!-- not selected / blank option -->
             <option value="magic">Magic</option> <!-- interpolation -->
             <option value="classic">Classic</option>
             <option value="strong">Strong Female Characters</option>
           </select>
        </div>
        <hr>
        <div>
          <label>Search by Title: <input ng-model="title.search" ng-init="count=10"></label>
        </div>
        <hr>
        <div>
          <label>Search by Author: <input ng-model="author.search" ng-init="count=10"></label>
        </div>
        
        <!-- IF NO RESULTS SHOW 'NO RESULTS'-->
        
        <div class="row" ng-repeat="book in vm.books | filter : {Tags: tag.search, Genre: genre.search, Author: author.search, Title: title.search} | limitTo: count"  id="testBook">
        
            <div class="col-md-3">
               <hr> 
                <center><img class="img-fluid cover" src="../images/Bookcovers/{{ book.Cover }}" alt=""></center>
              
            </div>

            <div class="col-md-7">
              <hr>
                <h3> {{ book.Title }} {{ data.singleSelect }}</h3>
                <h5> {{ book.Author }}</h5>
                <p > {{ book.Description }}</p>
                <p > {{ book.Genre }}</p>
                <p > {{ book.Tags }}</p>
                <a class="browse-btn" ng-href="#!/book/{{ book._id }}">View Details</a>
           
          
            
            
          
          </div>
         
        </div>
        
        
        
        
        <div>
          <button ng-click="count = count + 10" ng-init="count=10">MORE RESULTS</button>
        </div>
        
        <script src="jquery/jquery.min.js"></script>
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        
  
  
  <!-- Put cover on left and deets on right, make whole card a link-->
</div>
</body>