<!doctype html>
<html lang="en">
    <head>
        <link href="css/browse.css" rel="stylesheet" >
    </head>
<body>
<div class="container ng-scope">
    <br>
    <div class="dropdown">
    
    <div><button class="dropbtn">ADVANCED SEARCH</button></div>
    
    <div class="dropdown-content">
    <div >
      <input class="input" name="search" placeholder="Search by Title" ng-model="title.search" ng-init="count=10">
    </div>

    <hr>
    
    <div >
      <input class="input" name="search" placeholder="Search by Author" ng-model="author.search" ng-init="count=10">
    </div>
    
    <hr>
    
    <div>
        <label for="singleSelect"im > Search by Genre: </label> 
           <select name="singleSelect" id="singleSelect1" ng-model="vm.genSearch" ng-init="count=10">
             
             <option value="">  All  </option> <!-- not selected / blank option -->
             <option value="science fiction">Science Fiction</option> <!-- interpolation -->
             <option value="action">Action</option>
             <option value="fantasy">Fantasy</option>
             <option value="dystopia">Dystopia</option>
             <option value="friendship">Friendship</option>
             <option value="romance">Romance</option>
           </select>
    </div>
        
        <!-- Ideally figure out how to choose the attribute your filtering dynamically too. I.e picker for Genre and Tags -->
        <hr>
        <div>
        <label for="singleSelect"im > Search by Tag: </label>
           <select name="singleSelect" id="singleSelect" ng-model="vm.tagSearch" ng-init="count=10">

             <option value="">  All  </option> <!-- not selected / blank option -->
             <option value="magic">Magic</option> <!-- interpolation -->
             <option value="classic">Classic</option>
             <option value="strong">Strong Female Characters</option>
             <option value="feminism">Feminism</option>
             <option value="boarding">Boarding School</option>
             <option value="witches">Witches</option>
             <option value="environment">Environment</option>
             <option value="lgbt">LGBT</option>
             <option value="comingout">Coming Out</option>
             <option value="eating">Eating Disorders</option>
             <option value="rape">Rape</option>
             <option value="social">Social Media</option>
             <option value="ethics">Ethics</option>
             <option value="religion">Religion</option>
             <option value="terrorism">Terrorism</option>
             <option value="issues">Social Issues</option>
             <option value="ghosts">Ghosts</option>
             <option value="afterlife">Afterlife</option>
             <option value="transsexual">Transsexual</option>
             <option value="transgender">Transgender</option>
             <option value="bullying">Bullying</option>
             <option value="technology">Technology</option>
             <option value="science">Science</option>
             <option value="dyslexia">Dyslexia</option>
             <option value="alternate">Alternate History</option>
             <option value="paris">Paris</option>
             <option value="revolution">French Revolution</option>
             <option value="war">War</option>
             <option value="crime">Crime</option>
             <option value="graphic">Graphic Novel</option>
             <option value="war">World War II</option>
             <option value="war">World War I</option>
             <option value="time">Time Travel</option>
             <option value="music">Music</option>
             <option value="jazz">Jazz</option>
             <option value="cancer">Cancer</option>
             <option value="zombies">Zombies</option>
             <option value="road">Road Trip</option>
             <option value="addiction">Addiction</option>
             <option value="astrology">Astrology</option>
             <option value="irish">Irish Travellers</option>
             <option value="death">Death</option>
             <option value="depression">Depression</option>






           </select>
    </div>

    </div>
    </div>
    <br>
  
        
    <br> 
    <!-- IF NO RESULTS SHOW 'NO RESULTS'-->
        
        <div class="row" ng-repeat="book in vm.books | filter : {Tags: vm.tagSearch, Genre: vm.genSearch, Author: author.search, Title: title.search} | limitTo: count"  id="testBook">
        <h5 ng-if="book == null"></h5>
        <div class="col-md-3" style="background-color:#e2ecfd;">
          <br> 
          <center><img class="img-fluid cover" src="../images/Bookcovers/{{ book.Cover }}" alt=""></center>
        </div>

            <div class="col-md-9">
              <hr>
                <h3> {{ book.Title }} {{ data.singleSelect }}</h3>
                <h5> {{ book.Author }}</h5>
                <p > {{ book.Description }}</p>
                  <b ng-if="book.Genre">Genre: </b>
                  <a class="btn btn-outline-secondary" ng-repeat="genre in book.Genre" ng-click="vm.genreSearch(genre)"> {{ genre }} </a>
                  <br><br>
                  <b ng-if="book.Tags">Tags: </b>
                  <a class="btn btn-outline-secondary" ng-repeat="tag in book.Tags" ng-click="vm.tagsSearch(tag)"> {{ tag }} </a>
                <br><br>
                <a class="browse-btn" ng-href="#!/book/{{ book._id }}">View Details</a>
              <br><br>
          </div>
         
        </div> 
        
        
    </div>
        
        <hr>

        <div>
          <button class="browse-btn" ng-click="count = count + 10">MORE RESULTS</button>
        </div>
        
        
  
  
  <!-- Put cover on left and deets on right, make whole card a link-->
</div>
</body>
</html>